<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Gracias</h1>
    <p>El usuario <%= @name %>, con cédula No. <%= @cedula%> ha sido registrado exitosamente para el Meetup</p>
    <p><strong>Pdta: </strong> Habrá cerveza gratis para los <%= @level %></p>

  </div>
</div>
