<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Hola Maker</h1>
    <p>De parte de Make it Real, queremos hacerte una invitaci贸n a una charla de introducci贸n a Sinatra.</p>
    <p class="text-center">
          <a  type = "button" class = "btn btn-primary" href="/aburrido">Rechazar invitaci贸n</a>
          <a  type = "button" class = "btn btn-default" href="/formulario">Aceptar invitaci贸n</a>
    </p>
  </div>
</div>
